/*My Css*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*My code*/

*{text-decoration: none;}

html{ 
    position: relative;
    min-height: 100%;
    /* background: url("../img/background.jpg") no-repeat center center fixed; */
    background-color: #1e1e1e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    letter-spacing: 2px;
}
main {
    padding-top: 100px;
    padding-bottom: 60px;
}
.bg{
    position: relative;
    min-height: 100vh;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* background-color: #fff; */
    width:100%;
    height:100px;
}
/* header .header-brand{
    font-family: roboto, sans-serif;
    font-size: 24px;
    font-weight: 900px;
    color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
} */
header .container{
    width: 100%;
    height: 100ph;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px !important;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
  }
  .hamburger{
      font-size:50px;
      cursor:pointer;
      color:chocolate;
      position:absolute;
      right:10px;
      top:40px
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

header .nav-item{
    list-style: none;
    margin: 25px;
}
header .nav-link{
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}
header .nav-link::before,
header .nav-link::after{
    content: "";
    width:100%;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}
header .nav-link::after{
    bottom: 0;
    transform-origin: right;
}
header .nav-link::before{
    top: 0;
    transform-origin: left;
}
header .nav-link:hover::before, .nav-link:hover::after{
    transform: scaleX(1);
}
header .header-brand{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}
/*Desktop Version*/
@media  only screen and (min-width: 1000px) {
    header .header-brand{
    margin: 31px  0;
    text-align: center;
    line-height: 38px;
    padding: 0 20px 0 40px;
    float: left;
    }
}
/*INDEX*/

.index-banner{
    width:100%;
    height:calc(100vh - 100px);
    display: table;
}
.vertical-center{
    display: table-cell;
    vertical-align: middle;
}
.myPic{
    border-radius: 500px; 
    padding: 50px 10px;
}
.index-banner h2{
    font-family: Roboto;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}
.index-banner h1{
    font-family: Roboto;
    font-size: 28px;
    font-weight: 100;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}
.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: teal;
    border-radius: 7px;
}
.index-links div h3{
    font-family: Roboto;
    font-size: 28px;
    font-weight: 100;
    line-height: 100px;
    color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
}
/*Desktop Version*/
@media  only screen and (min-width: 1000px) {
    .wrapper{
        width: 850px;
        margin: 0 auto;
        text-align: center;
    }
    .index-banner{
        height:225px;
    }
    .myPic{
        float: left;
        position: fixed;
    }
    .index-banner h1{
        display: block;
        width: 560px;
        margin: 0 auto;
    }
    .index-links{
        overflow: hidden;
    }
    .index-links div {
        display: inline-block;
        margin: 10px 10px 0;
        height: 100px;
        background-color: transparent;
        border: solid teal 2px;
        }
    .index-boxlink-square{
        width: 20% !important;
    }
    .index-boxlink-rectangle{
        width: calc(40% - 10px) !important;
    }
    .index-links div h3{
        text-align: center;
        line-height: 100px;
    }
}
/*About Me*/
.code {
    /*  margin-top:150px;*/
    border-radius: 5px;
    width:750px;
    margin: 0 auto;
    padding-top:15px;
    font-size:30px;
    background: #ccc;
    height: 700px;
    font-family: 'Monaco', 'Courier New';
    text-align: left;
    font-size:13px;
    color: #fafafa;
}
    
.console{
    width:670px;
    padding: 40px;
    height: 620px;
    margin:0 auto;
    background: #383737;
}
/* .console a{
    color: goldenrod;
}
.console a:visited{
    color: crimson;
} */
@media  only screen and (max-height: 450px){
    .code{
        height: 50%;
        width: 50%;
    }

}

/*projects*/

.projects-links{
    overflow: hidden;
    margin-bottom: 20px; 
    text-align: center;
}
.projects-links h2{ 
    font-family: Roboto;
    font-size: 28px;
    font-weight: 100;
    color: #f1f1f1;
    text-transform: uppercase;
}
.projects-links .projects-link{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 20px 20px 0px;
    background-color: transparent;
    border: solid teal 2px;
    border-radius: 7px;
}
.projects-links .projects-link p{ 
    padding-top: 19%;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 100;
    color: #f1f1f1;
    text-align: center;
    text-transform: uppercase;
}

/*All projects*/
.project-vid h2{ 
    font-family: Roboto;
    font-size: 28px;
    font-weight: 600;
    color: #f1f1f1;
    text-align: center;
    text-transform: uppercase;
}
.project-vid video{
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}
.project-vid article h3{
    font-family: Roboto;
    font-size: 28px;
    font-weight: 600;
    color: #f1f1f1;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.project-vid article div p{
    font-family: Roboto;
    font-size: 25px;
    /* font-weight: 600; */
    /* line-height: 24px; */
    color: #f1f1f1;
    /* text-transform: uppercase; */
    /* column-count: 3;
    column-gap: 30px; */
}
.project-vid article div ol{
    list-style-position: inside;
    text-align: left;
    font-family: Roboto;
    font-size: 20px;
    color: #f1f1f1;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    
}
.project-vid article div ul{
    color: #fff;
    list-style-type: disc;
    list-style-position: inside;
    font-size: 15px;
    text-align: left;
    font-family: Roboto;
}

/* .project-vid article div a{
    color: goldenrod;
}
.project-vid article div a:visited{
    color: crimson;
} */

/*Contact Me*/
.contact-me{
    margin: 0 25%;
    left: 25%;
    width: 100%;
    max-width: 500px;
    height: auto;
    /* background: rgba(0, 0, 0, 0.7); */
    padding: 40px 60px 40px 40px;
    border-radius: 5px;
    letter-spacing: 10px;
    border: solid teal 2px;
}
.contact-me h2{
    font-family: roboto;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: #f1f1f1;
    padding-bottom: 15px;
}
.input-fields{
    font-family: roboto;
    padding: 0 30px;
}
.input-fields .items{
    width: 100%;
    padding-bottom: 15px;
}
.input-fields .items .label{
    display: block;
    font-size: 1em;
    color: #f1f1f1;
    text-transform: capitalize;
    padding-bottom: 5px;
}
.input-fields .items .input, .input-fields .items .text-area{
    background: transparent;
    border: 0;
    border: 1px solid #f1f1f1;
    width: 100%;
    padding: 8px 10px;
    font-size: 1em;
    color: #f1f1f1;
    border-radius: 3px;
}
.btn input[type="submit"]{
    font-family: roboto;
    width: 90%;
    margin: 0 30px;
    background: #ffc107;
    color: #f1f1f1;
    font-size: 1.25em;
    padding: 10px 0;
    text-align: center;
    border-radius:5px;
    cursor: pointer;
    letter-spacing: 5px;
}
.items #message{
    height: 100px;
}
.contact-me #error_message{
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
    color: #f1f1f1;
}
/*Desktop Version*/
@media  only screen and (min-width: 1000px) {
    .input-fields{
        padding: 0;
    }
}

/*FOOTER*/
.footer-wrapper{
    position: absolute;
    bottom: 0;
}
.social-footer {
    margin-top: 40px;
    width: 850px;
    background-color: #111;
    color: #f1f1f1;
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
    /* display: -webkit-flex;  */
    display: -ms-flexbox;
    /* -webkit-align-items: center; */
    -ms-flex-align: center;
    /* -webkit-justify-content: space-between; */
    -ms-flex-pack: justify;
}
.social-footer .social-footer-icons li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
.social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
}
  
.social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
}
  
.social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
}  
/*Desktop Version*/
@media  only screen and (min-width: 1000px) {
    /* .social-footer .social-footer-icons ul{
        padding-right: 30px;
    } */
    /* footer ul li p{
        font-family: Roboto;
         font-size: 16px;
         color: #fff;
         line-height: 40px;
         text-transform: uppercase;
    } */
}
.screen-wipe-top{
    width: 100%;
    height: 100vh;
    background: #666;
    position: fixed;
    z-index: 1000;
    top: -100%;
}
.screen-wipe-bottom{
    width: 100%;
    height: 100vh;
    background: #666;
    position: fixed;
    z-index: 1000;
    bottom: -100%;
}

/*Tutorial Css*/
/* .container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
nav{
    padding: 40px;
    grid-column: 3;
    justify-self: 3;
}
nav a{
    margin: 0 20px 0 0;
    padding: 10px;
    background: #fff;
    text-decoration: none;
    font-size: 20px;
    color: #666;
    border-radius: 5px;
}
.title{
    grid-column: 1/3;
    grid-row: 3;
    align-self: center;
    font-size: 50px;
    padding: 30px 90px;
    color: #fff;
}
.bgimage1{
    background: url("/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bgimage2{
    background: url("/img/profile.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.bgimage3{
    background: url("/img/Logo.png");
    background-size: cover;
    background-repeat: no-repeat;
}
header .navbar{
    width: 300px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
header .change{
    right: 0;
}
header .menu{
    width: 45px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header .line{
    width: 100%;
    height: 3px;
    background-color: chocolate;
    transition: all 0.8s;
}
header .change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
header .change .line-2{
    opacity: 0;
}
header .change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
}
header .nav-list{
    text-align: right;
} */